<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our work</title>
        <!-- fontawesoeme link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- css link here -->
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    {{>navbar}}
    <div class="our-featured">

  <div class="feture-heading">
    <h1>Our Featured <span>Work</span> </h1>
  </div>

  <div class="main-feautred">

    <div class="innter-featred">
      <div class="feature-icons">
        <i class="fas fa-share"></i>
        <i class="fas fa-eye"></i>
        <i class="fas fa-heart"></i>
      </div>
      <div class="feature-image">
        <img src="/public/images/feature4.jpg" alt="">
      </div>
    </div>

    <div class="innter-featred">
      <div class="feature-icons">
        <i class="fas fa-share"></i>
        <i class="fas fa-eye"></i>
        <i class="fas fa-heart"></i>
      </div>
      <div class="feature-image">
        <img src="/public/images/feature2.jpg" alt="">
      </div>
    </div>

    <div class="innter-featred">
      <div class="feature-icons">
        <i class="fas fa-share"></i>
        <i class="fas fa-eye"></i>
        <i class="fas fa-heart"></i>
      </div>
      <div class="feature-image">
        <img src="/public/images/feature3.jpg" alt="">
      </div>
    </div>

    <div class="innter-featred">
      <div class="feature-icons">
        <i class="fas fa-share"></i>
        <i class="fas fa-eye"></i>
        <i class="fas fa-heart"></i>
      </div>
      <div class="feature-image">
        <img src="/public/images/feature4.jpg" alt="">
      </div>
    </div>

    <div class="innter-featred">
      <div class="feature-icons">
        <i class="fas fa-share"></i>
        <i class="fas fa-eye"></i>
        <i class="fas fa-heart"></i>
      </div>
      <div class="feature-image">
        <img src="/public/images/feature3.jpg" alt="">
      </div>
    </div>

    <div class="innter-featred">
      <div class="feature-icons">
        <i class="fas fa-share"></i>
        <i class="fas fa-eye"></i>
        <i class="fas fa-heart"></i>
      </div>
      <div class="feature-image">
        <img src="/public/images/feature5.jpg" alt="">
      </div>
    </div>

    

  </div>

</div>
</body>
</html>