<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fontawesoeme link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- css link here -->
    <link rel="stylesheet" href="/public/css/style.css">
<!-- swiper css -->

<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />




    <title>Kazi Constructions</title>
</head>

<body>

{{>navbar data=Detail}}


    <div class="home">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">


                <div class="main-slider">
                  <div class="main-slider-text">

                    <div class="slider-text">

                    </div>
                  <div class="slider-text">
                    <slider class="inner-text">
                      <h1>A Reliable Team</h1>
                      <p>ipisicing elit. Est quaerat quis deserunt unde nihil in. Quidem modi consequuntur repudiandae eum accusamus</p>
                    
                      <div class="slider-button">
                        <a href="#">Who we are</a>
                        <a href="#">what we do</a>
                      </div>
                    </slider>
                  </div>
  
                  </div>
                </div>
                
                
                
                <img src="/public/images/Background1.png" alt=""></div>
              <div class="swiper-slide"><img src="/public/images/background2.jpg" alt=""></div>
              <div class="swiper-slide"><img src="/public/images/background3.jpg" alt=""></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
    </div>

  <div class="footer">
    <div class="main-footer">
      <div class="footer-inner-content">
        <h2>Our office</h2>
        <p> Kazi Construction office,opp lions club,santacruz(w),mumbai</p>
      </div>

      <div class="footer-inner-content">
        <h2>Important links</h2>
        <p>Adding Up soon</p>
        <p>Stay Tuned!</p>
      </div>

      <div class="footer-inner-content">
        <h2>Office hours</h2>
        <p>Monday - 8:00am - 5:00pm</p>
        <p> To </p>
        <p>saturday - 8:00am - 5:00pm</p>
        <p>Sunday - Off</p>
      </div>

      <div class="footer-inner-content">
        <h2>Main project</h2>
          <div class="main-project">

            <div class="inner-projects">
              <div class="project-image">
                <img src="/public/images/feature4.jpg" alt="">
              </div>
              <div class="project-content">
                <p class="project-content-p">Project-Orion</p>
              </div>
            </div>

            <div class="inner-projects">
              <div class="project-image">
                <img src="/public/images/feature4.jpg" alt="">
              </div>
              <div class="project-content">
                <p class="project-content-p">Project-Horizon</p>
              </div>
            </div>

            <div class="inner-projects">
              <div class="project-image">
                <img src="/public/images/feature4.jpg" alt="">
              </div>
              <div class="project-content">
                <p class="project-content-p">Project-Atlas</p>
              </div>
            </div>

          </div>
      </div>

    </div>
  </div>














       <script src="script.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
</body>

</html>
