<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
     <!-- css link here -->
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
  {{>navbar}}
     <div class="our-services">

      <div class="service-heading">
        <h1>Our services</h1>
        <div class="hr"></div>
      </div>


      <div class="main-services">

        <div class="main-inner-services">

          <div class="inner-services">
            <div class="services-images">
              <img src="/public/images/Service1.jpg" alt="">
            </div>

            <div class="service-inner-content">
              <h2>Drafting</h2>
              <p>Precision drafting supplies ensure quality plans. Accurate architecture comes from accurate drafting and planning</p>
            </div>
          </div>

          <div class="inner-services">
            <div class="services-images">
              <img src="/public/images/Service2.jpg" alt="">
            </div>

            <div class="service-inner-content">
              <h2>Foundation</h2>
              <p>A properly built foundation will keep your home even and supported and keep your family safe during natural calamities</p>
            </div>
          </div>

          <div class="inner-services">
            <div class="services-images">
              <img src="/public/images/Service5.jpg" alt="">
            </div>

            <div class="service-inner-content">
              <h2>Architecture</h2>
              <p>Architecture gives you the opportunity to shape the world we live in by creating and designing spaces, buildings and cities </p>
            </div>
          </div>

          <div class="inner-services">
            <div class="services-images">
              <img src="/public/images/service3.jpg" alt="">
            </div>

            <div class="service-inner-content">
              <h2>Wood Work</h2>
              <p>Wood's natural beauty can add warmth, texture and character to any space,its known that it has positive associations and visually appealing. </p>
            </div>
          </div>

          <div class="inner-services">
            <div class="services-images">
              <img src="/public/images/service4.jpg" alt="">
            </div>

            <div class="service-inner-content">
              <h2>Hand over</h2>
              <p>As firmly we believe in quality we also ensure on-time handovers to clients and maintain an excellent realation with our clients. </p>
            </div>
          </div>

          <div class="inner-services">
            <div class="services-images">
              <img src="/public/images/Service6.jpg" alt="">
            </div>

            <div class="service-inner-content">
              <h2>Interior Designing</h2>
              <p>Interior designers have played a vital role in adding attractiveness of an individual’s room. We add colours to your life</p>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>
</html>