<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why Us ?</title>
     <!-- fontawesoeme link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
     <!-- css link here -->
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    {{>navbar}}
    <div class="why-us">

  <div class="why-us-heading">
    <h1>Why Us ?</h1>
  </div>

  <div class="main-why-us">

      <div class="main-inner-us">
        <div class="main-inner">

          <div class="icon-text-main">
            <div class="inner-content">
              <div class="inner-icon">
                <i class="fas fa-tools"></i>
              </div>
            </div>

            <div class="inner-content">
              <div class="inner-content-text">
                <h2>Our involvement in this field</h2>
                <p>It’s been more than a decade we are earning experience and by handling so many complications while working we came at the top and now have expertise to solve any issue in the project.</p>
              </div>
            </div>
          </div>
        </div>

        
        <div class="main-inner">

          <div class="icon-text-main">
            <div class="inner-content">
              <div class="inner-icon">
                <i class="fas fa-tools"></i>
              </div>
            </div>

            <div class="inner-content">
              <div class="inner-content-text">
                <h2>Over 15 years of experience</h2>
                <p>Every aspect of our company is characterised by professionalism and high standards of quality. Sustainability is embedded into our long-term strategy for growth.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="main-inner">

          <div class="icon-text-main">
            <div class="inner-content">
              <div class="inner-icon">
                <i class="fas fa-tools"></i>
              </div>
            </div>

            <div class="inner-content">
              <div class="inner-content-text">
                <h2> team of professionals</h2>
                <p> A strong, customer-focused approach and the constant quest for top-class quality have enabled sense projects to attain and sustain leadership in its major lines of business for over decade.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="main-inner">

          <div class="icon-text-main">
            <div class="inner-content">
              <div class="inner-icon">
                <i class="fas fa-tools"></i>
              </div>
            </div>

            <div class="inner-content">
              <div class="inner-content-text">
                <h1>MISSION:</h1>
                <p>To provide quality workman and customer service and maintain the highest level of professionalism, honest and fairness in our relationships with our clients, employees and vendors. To grow continually providing useful and significant products, services, and solutions to markets we already serve – and to expand into new areas that build on our competencies and customer interests.</p>
              <br>
              <p>Sense projects pvt. Ltd. Is a full-service construction company in India whose mission is to build lasting relationship by serving perfection and world-class hassle-free services. To provide 24*7 Customer support and maintain global quality standards</p>
              </div>
            </div>
          </div>
        </div>

        <div class="main-inner">

          <div class="icon-text-main">
            <div class="inner-content">
              <div class="inner-icon">
                <i class="fas fa-tools"></i>
              </div>
            </div>

            <div class="inner-content">
              <div class="inner-content-text">
                <h1>Vision:</h1>
                <p> Be India’s premier engineering, construction, and project management organization by achieving extraordinary results for our customers, building satisfying careers for our people, and earning a fair return on the value we deliver. To be the preferred contractor of choice, a company that our clients want to work with and our employees are proud to work for.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="main-inner">

          <div class="icon-text-main">
            <div class="inner-content">
              <div class="inner-icon">
                <i class="fas fa-tools"></i>
              </div>
            </div>

            <div class="inner-content">
              <div class="inner-content-text">
                <h2>We Are Always Improving</h2>
                <p>We strive to meet the needs of the today’s world without jeopardizing the needs of the tomorrow.</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>

  </div>

</div>
</body>
</html>